{% extends 'home.html' %}
{% block content %}

<div id="myDIV" class="header">
  <h2>My To Do List</h2>
  <input type="text" id="masterBar" placeholder="Title..." class ="bg-dark h3 w-100 text-white">
</div>

<ul id="todo_container">
</ul>


<script>
//communication with the server:
  var today = new Date();
  var dd = String(today.getDate()).padStart(2, '0');
  var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
  var yyyy = today.getFullYear();
  today = mm + '/' + dd + '/' + yyyy

  function parse_input_box(event){
  bar = document.getElementById("masterBar")
  importance_regex = "([P])[0-9]\\s"
  required_time_regex = "([D])[0-9]\\s"
  try{importance = bar.value.match(importance_regex)[0].replace(" ", "").replace("P","")} catch{importance=0}
  try{required_time = bar.value.match(required_time_regex)[0].replace(" ", "").replace("D","")} catch{required_time=1}
  todo_name = bar.value.replace(importance_regex, "")
      console.log(`importance is ${importance} and required time is ${required_time}`)
  if (event.keyCode == 13 ) {
    console.log('Enter pressed')
    create_task(todo_name,today,  importance,required_time)
  } else /* fullscreenerror */ {
    /* handle a full screen toggle error */
  }
  }   


  function add_node(todo_name,todo_id,importance=0,due_date=today, required_time=1 ) {
    cont = document.getElementById("todo_container")
    l = document.createElement('li')
    d = document.createElement('div')
    r = document.createElement('div')
    
    xdiv = document.createElement('div')
    x = document.createElement('i')

    l.classList.add("container");
    
    d.classList.add("P"+String(importance));
    d.classList.add("col-10");
    d.classList.add("bg-dark"); 
    d.classList.add("text-white");
    d.setAttribute("todo_id", todo_id)
    d.setAttribute("due_date", due_date)
    d.setAttribute("required_time", required_time)
    d.innerText = todo_name
    l.id = todo_id
    x.classList.add("fa-times")
    x.classList.add("fas")
    xdiv.classList.add("col-1")
    xdiv.setAttribute("todo_id", todo_id)
    xdiv.addEventListener("click", function(){ delete_todo(event, todo_id); }); 
    l.addEventListener("click", function(){ check_off(event,todo_id); }); 
    r.classList.add("row")
    r.appendChild(d)
    xdiv.appendChild(x)
    r.appendChild(xdiv)
    l.appendChild(r)
    cont.appendChild(l)
}
  function check_off(event, todo_id){
      document.getElementById(todo_id).style.textDecoration = "line-through"
      
  }
  function delete_todo(event, todo_id){
      console.log(`deleting ${todo_id}`)
      var delete_url = `/todo/delete/${todo_id}`;
      var http = new XMLHttpRequest();
      if (confirm("Are you sure?")){
      http.open("GET", delete_url);
      
      http.onreadystatechange = function()
        {
            if(http.readyState == 4 && http.status == 200) {
                document.getElementById(todo_id).remove()
            }
        }
          http.send(null);}
      
  }


  document.getElementById("masterBar").addEventListener("keydown", parse_input_box);
  function create_task(todo_name,due_date=today,importance=0,required_time=1){
      var url = "/todo/new";
      var params = `todo_name=${todo_name}&due_date=${due_date}&importance=${importance}&required_time=${required_time}`;
      var http = new XMLHttpRequest();

      http.open("GET", url+"?"+params, true);
      http.onreadystatechange = function()
        {
            if(http.readyState == 4 && http.status == 200) {
                add_node(todo_name, http.responseText, importance, due_date, required_time)
            }
        }
      http.send(null);
  }

  {% for todo in todo_list %}
	 
add_node("{{todo.todo_name}}i",  "{{todo.todo_id}}", "{{todo.importance}}", "{{todo.due_date}}","{{todo.required_time}}")  
  {% endfor %}
</script>
{% endblock %}
