d = [
{
  "title":"Linux"
  "desc:"At the age of 13 I decided to abandon windows for the best OS there is and as a result of that I mastered the GNU+Linux ecosystem. Modding the Linux Kernel to run Manjaro on my Surface book 2, configuring every detail of my I3 to my liking and maintining a always on Plex server for friends and family are all tasks that I get done without a problem and on some occasions even do on a daily basis."
  "fa_icon:"fab fa-linux"
  "percent":"85"
  "collapse_block":"cb1" 
}, 
{
  "title":"Command line tools"
  "desc":"Due to my extensive Linux experience and constant work with remote servers I have been forced into completely mastering any task via the command line. I have reached a point where I am more comfortable with command line tools than with most GUI's. There is something deeply satysfying about crafting my .bashrc file to perfection."
  "fa_icon":"fas fa-terminal"
  "percent":"90"
  "collapse_block":"cb2"
}, 
{

  "title"="Windows"
  "desc"="Although I prefer Linux as my daily driver due to the closed source nature of Windows, I am still very familiar with the ins and outs of windows."
  "fa_icon"="fab fa-windows"
  "percent"="60"
  "collapse_block"="cbr3"
}
{
  "title"="Vim"
  "desc"="Despite the steap learning curve of VI i do think it is the best text editor there is due to its unriveled flexibility. I have spent unbelievable amounts of time inside of vim. Even this site has been completely written from within vim."
  "text_icon"="fab fa-windows"
  "percent"="75"
  "collapse_block"="cbr4"
}
]

