<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>AGLU Psycholog Olsztyn, psychoterapeuta olsztyn, psycholog on-line</title>
<meta name="description" content=" Świadczymy usługi psychoterapii indywidualnej ,dorosłych, młodzieży, małżeństwa i par"/>
<meta name="keywords" content="Psycholog Olsztyn, psychoterapeuta olsztyn, psycholog on-line"/>
<meta name="author" content="virtualmedia.pl" />
<meta name="robots" content="all" />
<meta name="revisit-after" content="7 days" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link rel="Shortcut icon" href="/klinika.ico" />
<link href="js/scrollbar/minified/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/js/highslide.css" />
<link href='http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,900' rel='stylesheet&amp;subset=latin,latin-ext' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800italic&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery.cycle.all.js"></script>
<script type="text/javascript" src="js/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/sonic.js"></script>
<script src="/js/highslide-full.min.js" type="text/javascript"></script>
<script type="text/javascript" src="http://mpulinski.igabinet.pl/api/js/cmg.js" charset="utf-8"></script>
<script src="js/scrollbar/minified/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript">
            hs.graphicsDir = '/js/graphics/';
            hs.align = 'center';
            hs.transitions = ['expand', 'crossfade'];
            //hs.outlineType = 'rounded';
            hs.fadeInOut = true;
            hs.dimmingOpacity= 0.8;
            hs.addSlideshow({
            interval: 5000,
            repeat: false,
            useControls: true,
            fixedControls: 'fit',
            overlayOptions: {
                opacity: 0.75,
                position: 'bottom center',
                hideOnMouseOut: true
            }
            });
        
          WebFontConfig = {
            google: { families: [ 'Arimo:400,700,400italic,700italic:latin-ext' ] }
          };
          (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
          })(); </script>
<script type="text/javascript">
          WebFontConfig = {
            google: { families: [ 'Roboto:400,900:latin-ext' ] }
          };
          (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
          })(); 
          
                $(document).ready(function(){           
                    $('#iksa, #warstwa').live('click', function(){
                        $('#warstwa').fadeOut(300, 'easeOutCirc', function(){ $('#kontener1').html(''); $("#kontener1").mCustomScrollbar("destroy");});
                        $('#kontener').fadeOut(300, 'easeInCirc');
                        $('#kontenerback').fadeOut(300, 'easeInCirc');
                        $('#ajaxloader').hide(); 
                        
                    });               
                    $('.more').live('click', function(){
                        $('#warstwa').fadeIn(300, 'easeInCirc');
                        $('#kontener').fadeIn(300, 'easeInCirc');
                        $('#kontenerback').fadeIn(300, 'easeInCirc');
                        $('#ajaxloader').show(); 
                        $('#kontener1').load($(this).attr("href"), function(){ 
                            $('#ajaxloader').hide();
                                $("#kontener1").mCustomScrollbar({
                                    scrollButtons:{
                                        enable:true
                                    }
                                });
                         });
                        return false;
                    });
                    });
          
          
    </script>
<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Open+Sans:400,800italic:latin-ext' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>   
</head>
<body>
<div id="warstwa"></div>
<div id="kontenerback"></div>
<div id="kontener"><div id="iks"><div id="iksa"><a href="javascript:void(0)"><img src="gfx/x.png"></a></div></div><div id="kontener1"></div></div>  
<div id="dol">
<div id="dolsto">
<div class="all">
<ul id="menu">
<li slidek="1"><a class="linkmenu but1" href="javascript:void(0)" title="Klinika" id="b1">Strona główna</a></li><li slidek="2"><a class="linkmenu but2" href="javascript:void(0)" title="Usługi" id="b2">O mnie</a></li><li slidek="3"><a  class="linkmenu but3" href="javascript:void(0)" title="Portfolio" id="b3">Usługi/Cennik</a></li><li slidek="4"><a class="linkmenu but4" href="javascript:void(0)" title="Kontakt" id="b4">Kontakt</a></li>   
</ul>
</div>
<div id="loga">
<a href="https://www.facebook.com/aglupsycholog"  target="_blank"><img src="grafika/facebook.jpg" target="_blank"></a>
</div>
</div>
</div>
<div class="logo"><a class="logotyp" href="javascript:void(0)"><img src="grafika/logotyp.png" alt="Klinika Okólna" /></a></div>
<div class="rejestracja" slidek="1">
</div>  
<div class="realizacja">
<a href="http://www.debowskidesign.com" title="projektowanie wnętrz Olsztyn Warszawa" target="_blank"><img src="grafika/dd.png"></a>
</div>          
<div class="slide" id="klinika" slidek="1">
<div id="foto1" class="pics">
<img src="zdjecia/1.jpg" class="okolna pierwszy"/>
</div>
<div class="oknotekst" id="opac">
<p><span style="background-color: #000000; color: #ffffff; font-size: 20px;">Każda podr&oacute;ż zaczyna się<br />od pierwszego kroku. &nbsp;<br />&nbsp;&nbsp;<br />+ 48 601557018<br /></span><br /><br /></p>
<h1>psycholog Olsztyn</h1>
</div>
<a class="button" slidek="2" title="Usługi"></a>
</div>
<div class="slide" id="poradnie" slidek="2">
<div id="foto2" class="pics">
<img src="gfx/ajax-loader.gif" data-original="zdjecia/2.jpg" class="okolna"/>
</div>
<div class="oknotekst" style="padding-top:60px;font-size:11px;">
<p>Nazywam się Elżbieta Dębowska-Moczydłowska.<br />Ukończyłam psychologię na SWPS w Sopocie<br />i jestem terapeutą w trakcie szkolenia. Pracuję <br />gł&oacute;wnie w nurcie TSR (Terapia Skoncentrowana <br />na Rozwiązaniach). &nbsp;<br />Dysponuje wiedzą , empatią i&nbsp; spokojem. &nbsp;<br />Zapewniam dyskrecję i przestrzeń&nbsp; do <br />swobodnego wyrażania siebie.<br />Zapraszam każdego kto potrzebuje pomocy <br />psychologicznej.<br /><br />Moje motto to: Człowiekiem jestem; nic co <br />ludzkie nie jest mi obce.<br /><br /><br /></p>
</div>      
<a class="button" slidek="3" title="Portfolio"></a>
</div>
<div class="slide" id="chirurgia" slidek="3">
<div id="foto3" class="pics">
<img src="gfx/ajax-loader.gif" data-original="zdjecia/3.jpg" class="okolna"/>
</div>
<div class="oknotekst">
</div>
<a class="button" slidek="4" title="Kontakt"></a>
</div>
<div class="slide" id="contact" slidek="4">
<div id="foto6" class="pics">
<img src="gfx/ajax-loader.gif" data-original="zdjecia/4.jpg" class="okolna"/>
</div>
<div class="oknotekst" style="padding-top:100px;font-size:11px;">
<p><strong>Gabinet</strong><br />&nbsp;<br />Olsztyn</p>
<p>ul.Dąbroszczakow 39/715, 7 pietro<br />10-542 Olsztyn<br />Tel&nbsp;&nbsp; + 48 601557018<br />Email&nbsp; <a href="mailto:aglu@aglu.pl">aglu@aglu.pl</a><br /><br />Znajdz nas na:</p>
<p><a href="https://www.facebook.com/aglupsycholog"><img src="http://www.aglu.pl/grafika/facebookikona.jpg" alt="" width="120" height="46" /></a><br /><br /><a href="https://www.facebook.com/aglupsycholog"><img src="http://www.aglu.pl/grafika/skype.jpg" alt="" width="120" height="46" /></a><br /><strong>&nbsp;&nbsp;&nbsp;&nbsp; Aglu Psycholog</strong><br /><br />Wszelkie prawa zastrzeżone 2019</p>
</div>
</div>
<div id="ajaxloader" style="position:fixed;top:38%;left:45%;z-index:1000;display:block;">
</div>
<script>
var circle = new Sonic({ 
    width: 50,
    height: 50,
    padding: 50,
 
    strokeColor: '#fff',
 
    pointDistance: .01,
    stepsPerFrame: 3,
    trailLength: .7,
 
    step: 'fader',
 
    setup: function() {
        this._.lineWidth = 5;
    },
 
    path: [
        ['arc', 25, 25, 25, 0, 360]
    ]
});
circle.play();
var d, a, container = document.getElementById('ajaxloader');
d = document.createElement('div');
d.appendChild(circle.canvas);
container.appendChild(d);
    </script>   
<script type="text/javascript">
function SetCookie(c_name,value,expiredays)
{
var exdate=new Date()
    exdate.setDate(exdate.getDate()+expiredays)
    document.cookie=c_name+ "=" +escape(value)+";path=/"+((expiredays==null) ? "" : ";expires="+exdate.toGMTString())
}
</script>
<div id="politykacookies">
<p>Strona korzysta z plików cookies w celu realizacji usług i zgodnie z <a href="/cookie.html" target="_blank"><span>Polityką plików Cookies</span></a>.
Możesz określić warunki przechowywania lub dostępu w Twojej przeglądarce.
<a id="usuncookie">X</a>
</p>
</div>
<script type="text/javascript">
if( document.cookie.indexOf("ciasteczka") ===-1 ){
    $("#politykacookies").show();
}   
$("#usuncookie").click(function () {
    SetCookie('ciasteczka','ciasteczka',365*10)
    $("#politykacookies").remove();
});

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){

  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),

  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)

  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50269539-1', 'aglu.pl');
  ga('send', 'pageview');

</script>
</body>
</html>