@font-face {
    font-family: 'Vonique 64';
    src: url('Vonique64.woff2') format('woff2'),
        url('Vonique64.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

