{% extends 'home.html' %}
{% block content %}

<div id="myDIV" class="container">
    <!-- auto populated by script add_node function  --!>
        </div>

        <div class="container">
            <div class="row">

            </div>
            <div class="row">
                <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                    
<div class="input-group mb-3" >
  <span class="input-group-text bg-warning text-white" id="inp_importance">0</span>
  <span class="input-group-text bg-danger text-white" id="inp_required_time">1</span>
  <input type="text" id="masterBar" placeholder="New Todo ..." class="form-control bg-dark text-white" aria-label="">
  <input type="date" class="input-group-text bg-primary text-white " id="inp_due_date">
</div>
                    
                    </div>
                </div>
                <!--input type="text" id="masterBar" placeholder="New Todo ..." class ="bg-dark h3 w-100 text-white"--!>
                <div id="todo_container"></div>
                </div>
                <div class="col-md-6 ">
                <!-- Place for Clock!  -->
                    <div class="container">
                        <div class="row text-align-center" style="font-size: 50px">
                            <div class="text-white col-md-6" id = "minute_time_remain" style="display: inline; text-align: right">25</div>
                            <div class="text-white col-md-1" id = "time_seperator" style="display: inline">:</div>
                            <div class="text-white col-md-5" id = "second_time_remain" style="display: inline; text-align: left">00</div>
                        </div>
                        <div class="row">
                            <div class="btn-group" role="group" aria-label="work-control">
                                <button id="start_timer" class="btn btn-secondary bg-dark" onclick="init_work()" >start</button>
                                <button id="stop_timer" class="btn btn-secondary bg-dark" onclick="stop_work()" >stop</button>
                                <button id="break_timer" class="btn btn-secondary bg-dark" onclick="break_work()" >break</button>
                                <button id="finish_timer" class="btn btn-secondary bg-dark" onclick="done_work()">task done</button>
                                <button id="add_minute" class="btn btn-secondary bg-dark" onclick="add_min()">add minute</button>
                            </div>
                        </div>
                        <div class="">
                            <br>
                            <br>
                            <h2 id="task_container" class="text-white border-bottom border-white">currently working on</h2>
                        </div>
                    </div>

                    <h5>
                        <span id="importance" class="badge badge-secondary bg-warning m-1">importance</span>
                        <span id="time" class="badge badge-secondary bg-danger">time</span>
                        <span id="due_date" class="badge badge-secondary bg-primary">due_date</span>
                    </h5>
                </div>
            </div>
        </div>
        </div>


        <script>
            //communication with the server:
            var breaks_taken = 0;
            var work_time = 25;
            var importance
            var required_time
            document.getElementById("minute_time_remain").innerHTML = work_time
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();
            today = yyyy + '-' + mm + '-' + dd
            var current_mode = "stop" //designed to contain start stop or break
            //timer init 
            document.getElementById("inp_due_date").value = today
            min_tr = document.getElementById("minute_time_remain")
            s_tr = document.getElementById("second_time_remain")

            var tickerVar
            b_start = document.getElementById("start_timer")
            b_stop = document.getElementById("stop_timer")
            b_break = document.getElementById("break_timer")
            b_done = document.getElementById("finish_timer")
            b_add = document.getElementById("add_minute")


            function init_work(){
                if (current_mode == "start"){
                    console.log("should already be running")
                } else if (current_mode == "stop"){
                    console.log("stop ended starting timer")
                    tickervar = setInterval(tick, 1000)
                    current_mode = "start"
                } else if (current_mode == "break"){
                    console.log("skipping_break starting normal timer")
                    current_mode = "break"
                    min_tr.innerHTML = work_time 
                    s_tr.innerHTML = 00
                }
                b_start.classList.remove("bg-dark")
                b_start.classList.add("bg-success")
                b_stop.classList.remove("bg-danger")
                b_break.classList.remove("bg-warning")
                b_stop.classList.add("bg-dark")
                b_break.classList.add("bg-dark")
                b_done.classList.remove("bg-success")
                b_done.classList.add("bg-dark")
            }
            function stop_work(){
                if (current_mode == "start"){
                    console.log("stopping ongoing work")
                    clearInterval(tickervar);
                    current_mode = "stop"
                    min_tr.innerHTML = work_time 
                    s_tr.innerHTML = 00
                } else if (current_mode == "stop"){
                    console.log("already stopped, not doing anythin")
                    min_tr.innerHTML = work_time 
                    s_tr.innerHTML = 00
                } else if (current_mode == "break"){
                    console.log("stopping break")
                    min_tr.innerHTML = work_time 
                    s_tr.innerHTML = 00
                    clearInterval(tickervar);
                    current_mode = "stop"
                }
                b_stop.classList.remove("bg-dark")
                b_stop.classList.add("bg-danger")
                b_done.classList.remove("bg-success")
                b_done.classList.add("bg-dark")
                b_break.classList.remove("bg-warning")
                b_break.classList.add("bg-dark")
                b_start.classList.remove("bg-success")
                b_start.classList.add("bg-dark")
            }

                
            function break_work(t=5){
                if (current_mode == "start"){
                    console.log("ending work starting break")
                    min_tr.innerHTML = t 
                    s_tr.innerHTML = 00
                    current_mode = "break"

                } else if (current_mode == "stop"){
                    console.log("starting break timer")
                    min_tr.innerHTML = t 
                    s_tr.innerHTML = 00
                    tickervar = setInterval(tick, 1000); 
                    current_mode = "break"
                } else if (current_mode == "break"){
                    console.log("already on a break. Not doing anything")
                }

                b_start.classList.remove("bg-success")
                b_stop.classList.remove("bg-danger")
                b_break.classList.remove("bg-dark")
                b_start.classList.add("bg-dark")
                b_stop.classList.add("bg-dark")
                b_break.classList.add("bg-warning")
                b_done.classList.remove("bg-success")
                b_done.classList.add("bg-dark")
                min_tr.innerHTML = t;
                s_tr.innerHTML = 0;
            }
            function done_work(){
                b_start.classList.add("bg-dark")
                b_stop.classList.add("bg-dark")
                b_break.classList.add("bg-dark")
                b_done.classList.add("bg-success")
                b_start.classList.remove("bg-success")
                b_stop.classList.remove("bg-danger")
                b_break.classList.remove("bg-warning")
                b_done.classList.remove("bg-dark")

                set_status(document.getElementById("task_container").getAttribute("todo_id"), "d", function a(){console.log("abc")})
            }

            function tick(){
                if(s_tr.innerHTML == 0 && min_tr.innerHTML == 0){
                    console.log("times is  up")
                    if(document.getElementById("time").innerText <= 0 ){
                        document.getElementById("finish_task").click()
                        window.clearInterval(tickerVar)
                        
                    } else{
                        document.getElementById("time").innerText = Number(document.getElementById("time").innerText) -1
                        document.getElementById("stop_timer").click();
                        document.getElementById("start_timer").click();
                    }
                }else if(min_tr.innerHTML > 0 && s_tr.innerHTML <= 0  ){
                    s_tr.innerHTML = 59; 
                    min_tr.innerHTML = min_tr.innerHTML - 1; 
                }else if(s_tr.innerHTML >= 0 && min_tr.innerHTML >= 0 ){
                    s_tr.innerHTML = s_tr.innerHTML - 1 
                }
            }

            function parse_input_box(event){
                bar = document.getElementById("masterBar")
                importance_regex = "([P])[0-9]\\s"
                required_time_regex = "([D])[0-9]\\s"
                try{
                    importance = bar.value.match(importance_regex)[0].replace(" ", "").replace("P","")
                    document.getElementById("inp_importance").innerText = importance
                    bar.value = bar.value.replace("P"+importance," ")
                }
                catch{importance=0}
                try{
                    required_time = bar.value.match(required_time_regex)[0].replace(" ", "").replace("D","")
                    document.getElementById("inp_required_time").innerText = required_time                    
                    bar.value = bar.value.replace("D"+required_time,"")
                } catch{required_time=1}
                todo_name = bar.value.replace(importance_regex, "")
                console.log(`importance is ${importance} and required time is ${required_time}`)
                if (event.keyCode == 13 ) {
                    console.log('Enter pressed')
                    create_task(todo_name,document.getElementById("inp_due_date").value, document.getElementById("inp_importance").innerText ,document.getElementById("inp_required_time").innerText)
                } else /* fullscreenerror */ {
                    /* handle a full screen toggle error */
                }
            }   

            function add_node (todo_name,todo_id,importance,due_date, required_time ){
                inner_html = 
                    ` 

        <div class="btn-group w-100" role="group">
            <button type="button"class="btn btn-dark" todo_id="${todo_id}" onclick="check_off(event,${todo_id},'o')">
                <i class="fa-hammer fas"></i>
            </button>
            <button type = "button"class="btn P2 col-10 bg-dark text-white" todo_id="${todo_id}" due_date="${due_date}" required_time="${required_time}">
                ${todo_name}
            </button>
            <button type="button"class="btn btn-dark " todo_id="${todo_id}" onclick="delete_todo(event, ${todo_id})">
                <i class="fas fa-trash"></i>
            </button>
        </div>
    `
                cont = document.getElementById("todo_container")
                l = document.createElement('div')
                l.classList.add("container");
                l.classList.add("border-bottom");
                l.classList.add("pb-1");
                l.id = todo_id
                l.innerHTML = inner_html 
                cont.prepend(l)


            }

            document.getElementById("todo_container").childNodes[0]
            function get_details(todo_id){
                console.log("get_details id:"+ todo_id)
                var http = new XMLHttpRequest();
                var url = `/todo/detail/${todo_id}.json`
                http.open("GET", url, true);
                http.onreadystatechange = function(){
                    if(http.readyState == 4 && http.status == 200) {
                        data = JSON.parse(this.response)
                        console.log(data[0].fields["todo_name"])
                        document.getElementById("task_container").innerText = data[0].fields["todo_name"]
                        document.getElementById("task_container").setAttribute("todo_id", todo_id)
                        document.getElementById("importance").innerText = data[0].fields["importance"]
                        document.getElementById("time").innerText = data[0].fields["required_time"]
                        document.getElementById("due_date").innerText = data[0].fields["due_date"]
                    }

    }
    http.send(null);
}
            function set_status(todo_id, new_status,f){

                var url = `/todo/status/${todo_id}`;
                console.log("set_status url")
                console.log(url)
                var params = `status=${new_status}`;
                var http = new XMLHttpRequest();

                http.open("GET", url+"?"+params, true);

                http.onreadystatechange = function(){
                    if(http.readyState == 4 && http.status == 200) {
                        f()
                    }
                }
                http.send(null);
            }
            function check_off(event, todo_id, new_status ){
                console.log("checked")
                nodes = document.getElementById("todo_container").childNodes
                l_nodes = nodes.length

                for (let l of nodes) {
                    console.log(l)
                    d_todo_id = l.id;
                    set_status(d_todo_id, "new",function a(){console.log("set_to_new")})
                    try{
                    l.classList.remove("border-warning")
                    }
                    catch{
                        console.log("warning color not removed")
                    }
                }
                console.log(todo_id)
                set_status(todo_id, new_status,function a(){ document.getElementById(todo_id).classList.add("border-warning");get_details(todo_id)})

            }
            function add_min(){
                document.getElementById("minute_time_remain").innerText = Number(document.getElementById("minute_time_remain").innerText) + 1
            }
            function finish_todo(){
                todo_id = document.getElementById("task_container").getAttribute("todo_id"); 
            } 
            function delete_todo(event, todo_id){
                console.log(`deleting ${todo_id}`)
                var delete_url = `/todo/delete/${todo_id}`;
                var http = new XMLHttpRequest();
                if (confirm("Are you sure?")){
                    http.open("GET", delete_url);
                    http.onreadystatechange = function()
                    {
                        if(http.readyState == 4 && http.status == 200) {
                            document.getElementById(todo_id).remove()
                        }
                    }
                    http.send(null);}
            }


            document.getElementById("masterBar").addEventListener("keydown", parse_input_box);
            function create_task(todo_name,due_date,importance,required_time){
                var url = "/todo/new";
                var params = `todo_name=${todo_name}&due_date=${due_date}&importance=${importance}&required_time=${required_time}`;
                var http = new XMLHttpRequest();
                http.open("GET", url+"?"+params, true);
                http.onreadystatechange = function()
                {
                    if(http.readyState == 4 && http.status == 200) {
                        console.log(required_time)
                        add_node(todo_name, http.responseText, importance, due_date, required_time)
                    }
                }
                http.send(null);
            }

            {% for todo in todo_list %}

            add_node("{{todo.todo_name}}i",  "{{todo.todo_id}}", "{{todo.importance}}", "{{todo.due_date}}","{{todo.required_time}}")  
            {% endfor %}
        </script>
        {% endblock %}
