<!-- templates/home.html -->
{% extends 'base.html' %}

{% load static %}
{% block title %}Home{% endblock %}


{% block content %}

<style>

.socials > a  {
  transition: transform 0.3s ease-in-out;
}

.socials > a:hover {
  transform: rotate(45deg); /* Adjust the angle as needed */
}


#left_container{background-color: rgba(255, 255, 255, 0.5)}
.socials{font-size: xx-large; color:black !important}

@media (max-width: 767px) {
    #right_container {
      color: #fff; /* White text color for phones */
    }
  }

#main_img{
    border-radius: 50%;
    max-width: 150px;
}
.main_container{
background-image: url("{% static 'home/city-bg.jpg' %}");
  background-repeat: no-repeat;
  background-size: cover;
}
#first-parallax{

  background-image: url("{% static 'home/new-code-bg.png' %}");
}
#second-parallax{

  background-image: url("{% static 'home/monitor-bg.jpg' %}");
}
.parallax {
  /* The image used */

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blinking-cursor {
  font-weight: 100;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

</style>




<div class="container-fluid vh-100 main_container text-dark"><!-- main header part --!>
    <div class="row">
        <div id="left_container" class="col-md-3 col-sm-12  vh-100">
            <div class="row">
                <div class="profiel_container text-center mt-5">
                    <img src="{% static 'home/rafa.jpg' %}" id="main_img"></img>
                </div>
            </div>
            <div class="row text-center text-dark">
                <h1>Rafal Kukawski</h1>
                <h5>FULL-STACK SOFTWARE DEVELOPER</h5>
            </div>

            <div class="row vh-50">
                <!-- placeholder for filler so the social links are on the bottom --!>
            </div>
            
            <div class="row socials">
                <a class="col text-center text-dark" href="https://github.com/KUKARAF">
                    <i class="fab fa-github"></i>
                </a>
                <a class="col text-center text-dark" href="https://appointment.osmosis.page">
                    <i class="fas fa-calendar-times"></i>
                </a>
                <a class="col text-center text-dark" href="Tel:+48668568097">
                    <i class="fas fa-phone"></i>
                </a>
                <a class="col text-center text-dark" href="mailto:ia33krm5i@mozmail.com">
                    <i class="fas fa-at"></i>
                </a>
            </div>
        </div>

        <div id="right_container" class="col-md-9 col-s-12 vh-100">
            <div class="text_container m-5">
                <h1>Hi, I am Raf!</h1>
                <h2>I like to make cool things with computers.
                <br/><b>Foss enthusiast / Linux Fanboy / Wannabe Minimalist</b>.</h2>
                <br/><br/>
                <span> Lets make something! Maybe <span id="activity"> a Website?</span>
                <span class="blinking-cursor">|</span>
            </div>
        </div>
    </div>
</div>


<script>
 function onSubmit(token) {
   document.getElementById("contactForm").submit();
 }

function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}
word_list = ["an internet presence?","a social media page?","an online CV?","a Blog?","a Store?"]
async function replace(word_list) {
  //await sleep(500);
  // Sleep in loop

  wll = word_list.length
  for(let wli = 0; wli < wll; wli++){

      a= document.getElementById("activity") 
      al = a.innerText.length
      for (let i = 0; i < al; i++) {
          await sleep(50);
          a.innerText= a.innerText.slice(0, -1);
      }
      word = word_list[wli]
      wl = word.length
      for (let i = 0; i < wl; i++) {
          await sleep(80);
          a.innerText= a.innerText+word[i]
      }
      await sleep(3000);
  }
await sleep(5000)
replace(word_list)
}
replace(word_list)
//load();
</script>
{% endblock %}

