<!-- templates/ap/en_home.html -->
{% extends 'ap/en/base.html' %}


{% load static %}
{% block title %}Home{% endblock %}


{% block content %}
<style>
.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
</style>

  <div class="container my-4">


    <div class="row">

      <div id="fc" class="col-lg-4 col-md-12 mb-4">



      </div>

      <div id="sc" class="col-lg-4 col-md-6 mb-4">



      </div>

      <div id="tc" class="col-lg-4 col-md-6 mb-4">



      </div>

    </div>

  </div>

<script>
console.log("script loaded")
        {% for p in Painting %}

i = document.createElement("IMG")
i.classList.add("img-fluid")
i.classList.add("mb-4")
i.src = "{{p.upload}}"

i.classList.add("fadeIn")
a = document.createElement("a")
a.href = "/ap/painting/{{p.painting_id}}"
a.appendChild(i)
obj = {
'fc':document.getElementById('fc').childElementCount,
'sc':document.getElementById('sc').childElementCount,
'tc':document.getElementById('tc').childElementCount}
var keys = Object.keys(obj);
var lowest = Math.min.apply(null, keys.map(function(x) { return obj[x]} ));
var match  = keys.filter(function(y) { return obj[y] === lowest });
document.getElementById(match[0]).appendChild(a)


        {% endfor %}
function generate_list_item(o){
   html = '<li class="list-group-item d-flex justify-content-between lh-sm"><div> <h6 class="my-0">'+o.painting_name+'</h6>  <small class="text-muted">'+o.painting_desc+'</small> </div> <span class="text-muted">'+o.painting_price +'</span> </li>'
   return document.createRange().createContextualFragment(html)
}
function get_cart_items(){
    url = "/ap/cart/ls.json"
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            paintings = JSON.parse(this.responseText)[0].fields 
            document.getElementById("cart_content").appendChild(generate_list_item(paintings))
        } 
    };
    xhttp.open("GET", url, true);
    xhttp.send();
}



</script>

{% endblock %}
