<!-- templates/ap/en_home.html -->
{% extends 'ap/en/base.html' %}


{% load static %}
{% block title %}Home{% endblock %}


{% block content %}
<style>
.description-box{
background: rgb(243, 243, 243) none repeat scroll 0% 0%;
}
.h-0{
    filter: grayscale(100%);
}
</style>
<script>
function show_all(){
hi = document.getElementsByClassName("h-0")
hil = hi.length
for(var i = 0; i<hil; i++){
hi[i].classList.remove("h-0")
}}
function show_on_main(url, img){document.getElementById("main_foto").src=url ;show_all(); img.classList.add("h-0")}
</script>
<div class="container-fluid">
    <div class="row  mb-5">
        <div class="col-2" id = "iamge_preview">
        
            <img src="{{painting.upload}}" class="img-fluid m-1 h-0" alt="" onclick="show_on_main('/{{painting.upload}}',this)")>
            {% for i in images %}
            <img src="/ap/{{i.image}}" class="img-fluid m-1" alt="" onclick="show_on_main('/ap/{{i.image}}',this)")>
            {% endfor %}
        </div>
        <div class="col-10">
            <img id="main_foto"src="/ap/{{painting.upload}}" alt="" class="img-fluid" >
        </div>
    </div>
    </div>

<div class="container-fluid description-box">

<h1>


        {{painting.painting_name}}
</h1>
<div id="artist">
  {{painting.painting_author}}
</div>
<br>
<div id="dimensions">

       Dimensions:  {{painting.painting_dimensions}}
</div>




{{painting.painting_desc}}


    <div class="row bg-dark text-white" id="price-bar">
        <div class="col-8 mt-2">

<h1>
       € {{painting.painting_price}} EUR
</h1>
        </div>
        <div class="col-4 mt-2 ">
            <div class="row m-2">

<a href="/ap/user/cart/{{painting.painting_id}}" class="btn btn-danger" role="button">Buy this painting now</a>
            </div>
            <div class="row m-2">
                <button type="button" id="cart_btn" class="btn btn-outline-secondary">Add to cart <i class="fas fa-cart-plus"></i></button>
            </div>
        </div>


    </div>

</div>
</div>
<script>

function add_cart(pid){
    url = '/ap/cart/add/pid'.replace('pid', pid)
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            r = this.responseText
            console.log(r)

            update_cart_button()
        } 
    };
    xhttp.open("GET", url, true);
    xhttp.send();
}
function rm_cart(pid){
    url = '/ap/cart/rm/pid'.replace('pid', pid)
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            r = this.responseText
            console.log(r)
            update_cart_button()
        } 
    };
    xhttp.open("GET", url, true);
    xhttp.send();
}


function update_cart_button(){
    url = "/ap/cart/ls.json"
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            paintings = JSON.parse(this.responseText)
            pid_open = parseInt(window.location.pathname.split("/")[3])
            pp = []
            p_sum = 0
            for(var i = 0; i < paintings.length; i++){
                pp.push(paintings[i].pk)
            }
            console.log(pp)
                console.log(pp.includes(parseInt(window.location.pathname.split("/")[3])))
                if(!pp.includes(pid_open))
                {
                    document.getElementById("cart_btn").onclick=function(){add_cart(pid_open)}                            
                    document.getElementById("cart_btn").innerHTML = "Add to cart"
                
                }else{
                
                    document.getElementById("cart_btn").onclick=function(){rm_cart(pid_open)}                            
                    document.getElementById("cart_btn").innerHTML = "Remove from  cart"
                }
            
        } 
    };
    xhttp.open("GET", url, true);
    xhttp.send();
}
update_cart_button()
</script>
{% endblock %}
